.body {
  background-color: black;
}

.nav {
  display: flex;
  flex-flow: row wrap;
  gap: 5px;
}

.item-nav {
  flex: 1 1 auto;
}

.button-nav {
    padding: 0.6em 2em;
    width: fit-content;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-decoration: none;
  }
  
  .button-nav:before {
    content: "";
    background: linear-gradient(
      4deg,
      #00ffd5,
      #002bff,
      #00ffd5
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite, gradient-move 10s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  @keyframes gradient-move {
    0% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .button-nav:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

  .nav-link {
    color: white;
    text-decoration: none;
  }
  
  .nav-link:hover {
    color: white;
    text-decoration: none;
  }

  .container-Team {
    justify-content: space-around;
    background-color: #222;
  }

  .container-Python {
    justify-content: space-around;
    background-color: #222;
  }

  .container-Java {
    justify-content: space-around;
    background-color: #222;
  }

  .container-JS {
    justify-content: space-around;
    background-color: #222;
  }

  .container-C\# {
    justify-content: space-around;
    background-color: #222;
  }

  .container-PHP {
    justify-content: space-around;
    background-color: #222;
  }

  .container-C\+\+ {
    justify-content: space-around;
    background-color: #222;
  }