:root {
  --background-button: #222;
  --background-main: #111;
  --nav-link-color: white;
  --text-color: rgba(255, 255, 255, 0.658);
  --highlight-gradient: linear-gradient(4deg, #00ffd5, #002bff, #00ffd5);
  --header2-gradient: linear-gradient(to right, #00eeff, #0026ff);
  --background-pic: url('../photos/background.png');
  --background-gradient: linear-gradient(128deg, #000000 0%, #020041 50%, #002B34 100%);
}

.light-toggle{
  --background-button: #c2c4c6;
  --background-main: #eaeef2;
  --text-color: #0b0c0c;
  --nav-link-color: #0b0c0c;
  --highlight-gradient: linear-gradient(4deg, #00ffd5, #002bff, #00ffd5);
  /* --header2-gradient: [a changer] */
  --background-pic: url('../photos/background..png');
  --background-gradient: linear-gradient(128deg, #ffffff 0%, #00bae9 100%, #0096b4 100%);
}

html{
  height: 100%;
  background-color: var(--background-main);
  background: var(--background-gradient);
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  color: var(--text-color);
}

h2 {
  background-image: var(--header2-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;
}

p {
  color: var(--text-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav {
  background-color: var(--background-main);
  display: flex;
  flex-flow: row wrap;
  gap: 5px;
  align-items: center;
  padding: 20px;
  padding-bottom: 0px;
  margin-bottom: 20px;
}

nav.scrolled {
  display: flex;
  flex-flow: row wrap;
  gap: 5px;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 0px 2px 4px var(--text-color);
  position: sticky;
}

.button-nav {
  padding: 0.6em 2em;
  width: fit-content;
  height: 50px;
  border: none;
  outline: none;
  color: var(--text-color);
  background: var(--background-main);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  margin-left: 10px;
}

.button-nav:before {
  content: "";
  position: absolute;
  background: var(--highlight-gradient);
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite, gradient-move 10s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
}

.button-nav:hover:before {
  opacity: 1;
}

.button-nav:active {
  color: var(--background-main);
}

.button-nav:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--background-button);
  left: 0;
  top: 0;
  border-radius: 10px;
}

.nav-link {
  color: var(--text-color);
  text-decoration: none;
}

.nav-link:hover {
  color: var(--text-color);
  text-decoration: none;
}

.grosse-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
}

/*
.flex-container {
  width: 48%;
  background-color: var(--background-button);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  color: inherit;
}
*/

.flex-container {
  padding: 20px;
  width: 48%;
  border: none;
  outline: none;
  color: var(--text-color);
  background-image: var(--background-button); /*modifier ici avec une image pour avoir un background derierre nos containers*/
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 12px;
  margin-left: 10px;
  text-align: center;
  text-decoration: none;
  color: inherit;
  box-shadow: 5px 2.5px 2.5px var(--text-color);
}

.flex-container:before {
  content: "";
  position: absolute;
  background: var(--highlight-gradient);
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite, gradient-move 10s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
}

.flex-container:hover:before {
  opacity: 1;
}

.flex-container:active {
  color: var(--background-main);
}

.flex-container:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--background-button);
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  left: 0;
  top: 0;
  border-radius: 10px;
}

/* .f-container {
  width: 100%;
  background-color: var(--background-button);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 20px;
  text-align: center;
  gap: 40px;
  text-decoration: none;
  color: inherit;
} */

.f-container {
  padding: 20px;
  width: 97%;
  border: none;
  outline: none;
  color: var(--text-color);
  background: var(--background-button); /*modifier ici avec une image pour avoir un background derierre nos containers*/
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 12px;
  margin: auto;
  text-align: center;
  text-decoration: none;
  color: inherit;
  box-shadow: 5px 2.5px 2.5px var(--text-color);
}

.f-container:before {
  content: "";
  position: absolute;
  background: var(--highlight-gradient);
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite, gradient-move 10s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
}

.f-container:hover:before {
  opacity: 1;
}

.f-container:active {
  color: var(--background-main);
}

.f-container:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--background-button);
  left: 0;
  top: 0;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .flex-container {
      width: 98%;
  }
}

@keyframes glowing-button-85 {
  0% {
      background-position: 0 0;
  }
  50% {
      background-position: 400% 0;
  }
  100% {
      background-position: 0 0;
  }
}

@keyframes gradient-move {
  0% {
      background-position: 100% 100%;
  }
  100% {
      background-position: 0 0;
    }
  }

  .button-nav:active{
    color: #000
  }
  
  .button-nav:active:after{
    background: transparent;
  }

  .button-nav:hover:before{
    opacity: 1;
  }

  .button-nav:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--background main);
    left: 0;
    top: 0;
    border-radius: 10px;
  }

  .nightmode-toggle {
    margin-left: auto;
    position: relative;
    width: 100px;
    height: 50px;
    --light: #d8dbe0;
    --dark: #28292c;
    --link: rgb(27, 129, 112);
    --link-hover: rgb(24, 94, 82);
  }
  
  .switch-label {
    position: absolute;
    width: 100%;
    height: 90%;
    background-color: var(--dark);
    border-radius: 25px;
    cursor: pointer;
    border: 3px solid var(--dark);
  }
  
  .checkbox {
    position: absolute;
    display: none;
  }
  
  .slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .checkbox:checked ~ .slider {
    background-color: var(--light);
  }
  
  .slider::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-box-shadow: inset 12px -4px 0px 0px var(--light);
    box-shadow: inset 12px -4px 0px 0px var(--light);
    background-color: var(--dark);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .checkbox:checked ~ .slider::before {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
    background-color: var(--dark);
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .nav-link {
    color: var(--nav-link-color);
    text-decoration: none;
  }
  
  .nav-link:hover {
    color: var(--nav-link-color);
    text-decoration: none;
  }

  .container-Team {
    justify-content: space-around;
    background-color: var(--background main);
  }

  .container-Python {
    justify-content: space-around;
    background-color: var(--background main);
  }

  .container-Java {
    justify-content: space-around;
    background-color: var(--background main);
  }

  .container-JS {
    justify-content: space-around;
    background-color: var(--background main);
  }

  .container-C\# {
    justify-content: space-around;
    background-color: var(--background main);
  }

  .container-PHP {
    justify-content: space-around;
    background-color: var(--background main);
  }

  .container-C\+\+ {
    justify-content: space-around;
    background-color: var(--background main);
  }

  .big-div {
    width: 97%;
    background-color: var(--background-button);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px;
    text-align: center;
    gap: 40px;
    text-decoration: none;
    color: inherit;
    box-shadow: 5px 2.5px 2.5px var(--text-color);
  }

  .carousel {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: auto;
}

.carousel-item {
    flex: 1 0 100%;
    text-align: center;
    overflow: hidden;
}

.carousel-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 1000;
}

.carousel-button.left {
    left: 10px;
}

.carousel-button.right {
    right: 10px;
}

.carousel-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
